.empty{
    height: 300px;
    &:nth-child(2){
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    &:nth-child(3){
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
}