.swiperr{
    .swiper-pagination{
        display: flex;
        left: 30px;
    }
    .swiper-pagination-bullet {
        width: 27px;
        height: 5px;
        border-radius: 0;
    }
    .swiper-pagination-bullet-active {
        background: white;
    }
}

