$BUTTON_COLOR: #565656;

.swiper{
    height: 100%;
    .swiper-slide{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-button-prev {
        position: absolute;
        left: calc(50% - 10px) !important;
        top: calc(50% + 50px) !important;
        &::after{
            content: '';
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-right: 20px solid $BUTTON_COLOR;
            border-bottom: 12px solid transparent;
        }
    }
    .swiper-button-next {
        position: absolute;
        right: calc(50% - 10px) !important;
        top: calc(50% - 50px) !important;
        &::after{
            content: '';
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-left: 20px solid $BUTTON_COLOR;
            border-bottom: 12px solid transparent;
        }
    }
}
