@import "../../../../styles/common/colors";

.section{
    width: 100%;
    background: linear-gradient(to right, transparent 50%, $PRIMARY_GRAY_2 50%);
    @media screen and (max-width: 900px) {
        background: $PRIMARY_GRAY_2;
    }
}