@import "../../styles/common/colors";
$ICON_SIZE: 80px;

.wrapper{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $PRIMARY_BLUE;
    cursor: pointer;
    &--yellow{
        background: $PRIMARY_YELLOW;
    }
    .icon{
        width: $ICON_SIZE;
        height: $ICON_SIZE;
        margin-bottom: 15px;
        svg{
            width: $ICON_SIZE;
            height: $ICON_SIZE;
            color: white;
        }
        &--yellow{
            svg{
                color: $PRIMARY_GRAY_4
            }
        }
    }
    .title{
        color: white;
        font-weight: 100;
        &--yellow{
            color: $PRIMARY_GRAY_4
        }
    }
}